{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

    
	<section class="min-h-screen flex items-center justify-center p-4">
    <div class="w-full max-w-md bg-slate-800 p-8 rounded-2xl shadow-xl text-white">

        <h1 class="text-2xl md:text-3xl font-bold text-center mb-8">
            CONNEXION
        </h1>

        {% if error %}
            <div class="bg-red-500/20 border border-red-500 text-red-400 p-3 rounded-lg mb-6 text-sm">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="flex flex-col gap-6">

            <div class="flex flex-col gap-2">
                <label for="username" class="text-md  text-slate-300">
                    Nom d'utilisateur
                </label>
                <input
                    class="p-3 rounded-lg bg-white text-black focus:outline-none focus:ring-2 focus:ring-blue-500"
                    type="text"
                    id="username"
                    name="_username"
                    value="{{ last_username }}"
                    required
                    autofocus
                >
            </div>

            <div class="flex flex-col gap-2">
                <label for="password" class="text-md  text-slate-300">
                    Mot de passe
                </label>
                <input
                    class="p-3 rounded-lg bg-white text-black focus:outline-none focus:ring-2 focus:ring-blue-500"
                    type="password"
                    id="password"
                    name="_password"
                    required
                >
            </div>

            <button
                type="submit"
                class="mt-4 bg-blue-600 hover:bg-blue-700 transition duration-200 p-3 rounded-lg font-semibold"
            >
                Se connecter
            </button>

        </form>
    </div>
</section>

{% endblock %}
