{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style></style>
	{% include 'component/navBar.html.twig'  %}
	<section class="min-h-screen flex items-center justify-center text-center p-2 flex flex-col">
		<div class="bg-slate-800 p-6 rounded-lg text-white w-full xs:max-w-xl md:max-w-4xl lg:max-w-7xl overflow-x-auto">

			<form class="text-left flex flex-col gap-4" method="POST" action="{{ path('app_gestionnaire_add') }}">
				<div class="flex flex-row gap-4">
					<div class="flex flex-col">
						<label for="site" class="mb-1">
							Nom du site
						</label>
						<input id="site" type="text" name="site" class="text-sm text-black" required>
					</div>
					<div class="flex flex-col">
						<label for="url" class="mb-1">
							Url du site
						</label>
						<input id="url" type="text" name="url" class="text-sm text-black" required>
					</div>
				</div>
				<div class="flex flex-col">
					<label for="identifier" class="mb-1">
						Identifiant du site
					</label>
					<input id="identifier" type="text" name="identifier" class="text-sm text-black" required>
				</div>
				<div class="flex flex-col">
					<label for="password" class="mb-1">
						Mot de passe du site
					</label>
					<input id="password" type="password" name="password" class="text-sm text-black" required>
				</div>
				<button type="submit" class="px-2 bg-blue-600 text-white rounded py-2 hover:bg-blue-700 transition">
					Ajouter
				</button>
			</form>
		</div>
	</section>
{% endblock %}
