{# templates/gestionnaire_unlock.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Déverrouiller le coffre
{% endblock %}

{% block body %}
{% include 'component/navBar.html.twig'  %}

	<section class="min-h-screen flex items-center justify-center text-center p-2 flex flex-col">
		<div class="bg-slate-800 p-6 rounded-lg text-white w-full xs:max-w-xl md:max-w-4xl lg:max-w-7xl overflow-x-auto">

			<form method="POST" action="{{ path('app_gestionnaire_add_master_key') }}">
				<div class="mb-3">
					<label for="masterkey" class="form-label">Mot de passe maître</label>
					<input class="text-black" type="password" id="masterkey" name="masterkey" class="form-control" required autocomplete="off">
				</div>

				<button type="submit" class="btn btn-primary">Déverrouiller</button>
			</form>

		</div>
	</section>
	{% if app.flashes('error') %}
		<div class="alert alert-danger mt-3">
			{% for message in app.flashes('error') %}
				{{ message }}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
